.messageBox {
  background: #f3f3f3;
  padding: 2% 6%;
  color: white;
  display: inline-block;
  max-width: 80%;
  margin: 3% 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.messageText {
  letter-spacing: 0;
  float: left;
  font-size: 1.05em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 5%;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorDark {
  color: #e7e7e7ce;
}

.colorWhite {
  color: #000000;
}

.colorDark a {
  color: #00aeffc5;
}

.colorWhite a {
  color: #00327c;
}
.backgroundLight {
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.backgroundBlue {
  background: rgba(255, 255, 255, 0.8); /* fallback for old browsers */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.firstMessage {
  padding-top: 15%;
}
