.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a1d; /* fallback for old browsers */
  background: -webkit-radial-gradient(
    #000 20%,
    #1a1a1d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    #000 20%,
    #1a1a1d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 640px) {
  .container {
    width: 600px;
    height: 95%;
  }
}
