html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinInnerContainer {
  width: 80%;
}

.joinInput {
  border-radius: 10em;
  padding: 15px 20px;
  width: 100%;
}

.joinInnerContainer .heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.joinInnerContainer .button {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e54e9,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8e54e9,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 10em;
  width: 100%;
  cursor: pointer;
}

.joinInnerContainer .mt-20 {
  margin-top: 20px;
}
